/* #d1
{
    position: relative;
    left:200px;
    top:100px
}


#d2
{
    position: fixed;
    
} */

#flex-container
{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-item
{
    border: 2px solid black;
    margin: 5px;
}
